<ion-header>
  <ion-toolbar>
    <ion-button>
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>
      more
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ion-input　事件(Events) -->
  <!-- 
  
    ionBlur 当输入失去焦点时发出。
    ionChange 值更改时发出。
    ionFocus 当输入有焦点时发出。
    ionInput 当键盘输入出现时发出。

   -->
   <!-- ion-input　内置方法(Methods) -->
   <!-- 
     getInputElement
    -->

    <ion-input class="inp"></ion-input>


    <ion-textarea class="inp"></ion-textarea>
    
    <ion-item>
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Summary</ion-label>
        <ion-textarea disabled readonly value="Ionic enables developers to build performant, high-quality mobile apps."></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label>Commenti</ion-label>
        <ion-textarea clearOnEdit="true"></ion-textarea>
    </ion-item>

    <ion-item>
        <ion-label>Notes</ion-label>
        <!-- 
          row：行
          col：列
         -->
        <ion-textarea class="inp" rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
    </ion-item>



</ion-content>
