<ion-header>
  <ion-toolbar>
    <ion-title>
      chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 20px;">我是home组件，父组件，输入输出属性</div>
<!-- <div>
  我是主组件
  <ion-input class="inp" type="text" placeholder="请输入ID" [(ngModel)]="ID"></ion-input>
  <ion-input class="inp" type="number" [(ngModel)]="Mount" placeholder="请输入数量"></ion-input>
</div> -->
<ion-button> 点击我跳转到list页面，使用angular输入属性传入相应的值</ion-button>
<!-- <div style="border-top: 1px solid #000;">
  <app-list [productId]="ID" [productMount]="Mount"></app-list>
</div> -->
</ion-content>

